*,html{
    margin: 0;
    padding: 0;
}
.container{}

.navbar-container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10vh;
}

.ul-navbar{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center ;
}

.li-navbar{
   list-style-type: none;
   padding: 20px;
   margin: 5px;
   color: rgb(0, 0, 0);
   font-size: 30px;
}

.li-navbar:hover{
    background-color: gold;
    transition: .1s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
}
.a-navbar{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 800;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: rgb(255, 255, 255);
    height: 80vh;
}

.a-content{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 15px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-weight: 800;
}

.img-content{
    width: 50%;
    height: 50%;
}

.footer-container{
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 40px;
    color: rgb(0, 0, 0);
}